@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html,
body {
  font-family: "Raleway", sans-serif;
  background: #ffffff !important;
  letter-spacing: 0.05rem;
  background: #fff;
  font-size: 62.5%;
  color: #403c58;
  min-height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
}

#app {
  font-family: "Raleway", sans-serif;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100%;
  overflow-x: hidden !important;
}
h1 {
  font-size: 6rem;
  line-height: 7.8rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}
h2 {
  font-size: 3.2rem;
  font-weight: 400;
}
h3 {
  font-size: 2.3rem;
}
