@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html,
body {
  font-family: "Raleway", sans-serif;
  background: #ffffff !important;
  letter-spacing: 0.05rem;
  background: #fff;
  font-size: 62.5%;
  color: #403c58;
  width: 100% !important;
}

#app {
  font-family: "Raleway", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  bottom: 0;
}
